.header {
  // background: #fff;
  padding: 0 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  // border-bottom: 1px solid #f0f0f0;
}

.logo-container {
  display: flex;
  align-items: center;
}

.menu-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-img {
  width: 140px;
}

.switch-container {
  .switch {
    margin-right: 1px;
  }
}


.user-dropdown {
  cursor: pointer;
}

@media (max-width: @breakpoint-sm) {
  .logo-img {
    width: 80px;
  }
}